src/powershell-win-core/debug2/Schemas/PSMaml/developerManagedEvent.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="http://schemas.microsoft.com/maml/dev/managed/2004/10" xmlns:doc="http://schemas.microsoft.com/maml/internal" xmlns:maml="http://schemas.microsoft.com/maml/2004/10" xmlns:dev="http://schemas.microsoft.com/maml/dev/2004/10" xmlns:managed="http://schemas.microsoft.com/maml/dev/managed/2004/10" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all" xml:lang="en">
  <!-- Schema documentation -->
  <annotation>
    <documentation>This schema describes MAML (Microsoft Assistance Markup Language). MAML is intended for software documentation. In particular, MAML is intended to accommodate the needs of Microsoft documentation.</documentation>
    <documentation>The schema is broken into three main areas: end user, developer and IT Pro. These areas represent the main categories of Microsoft documentation.</documentation>
    <documentation>The namespace uri for this version of MAML is: http://schemas.microsoft.com/maml/2004/10.</documentation>
    <documentation>Each backwards-incompatible revision to MAML will require that the date fields be appropriately incremented in uri of the updated version of the MAML schema.</documentation>
  </annotation>
  <annotation>
    <documentation>This portion of the schema was created by chains in Dec 2004.</documentation>
  </annotation>
  <import schemaLocation="maml.xsd" namespace="http://schemas.microsoft.com/maml/2004/10"/>
  <import schemaLocation="developer.xsd" namespace="http://schemas.microsoft.com/maml/dev/2004/10"/>
  <!-- Managed Developer Page Types -->
  <!-- Managed Class -->
  <complexType name="eventType">
    <sequence>
      <element ref="maml:title"/>
      <element ref="maml:introduction"/>
      <element ref="managed:eventData" minOccurs="0"/>
      <element ref="managed:security" minOccurs="0"/>
      <element ref="dev:remarks" minOccurs="0"/>
      <element ref="managed:derives"/>
      <element ref="dev:examples" minOccurs="0"/>
      <element ref="dev:threadSafety" minOccurs="0"/>
      <element ref="dev:appliesTo"/>
      <element ref="managed:requirements"/>
      <element ref="maml:relatedLinks" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="event" type="managed:eventType">
    <annotation>
      <documentation>Root element of managedEvent page type.</documentation>
    </annotation>
  </element>
  <element name="eventData" type="managed:eventDataType"/>
  <complexType name="eventDataType">
    <sequence>
      <element ref="dev:type"/>
      <element ref="managed:eventProperties"/>
    </sequence>
    <attributeGroup ref="maml:contentIdentificationSharingAndConditionGroup"/>
  </complexType>
  <element name="eventProperties" type="managed:eventPropertiesType"/>
  <complexType name="eventPropertiesType">
    <sequence>
      <element ref="managed:eventProperty" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="eventProperty" type="dev:typeType"/>
</schema>
